<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseMyLibery.dll" version="1.1.1.18" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.10.1" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.14.0" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.3.2" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net48" />
  <package id="itextsharp.xmlworker" version="5.5.13.1" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="Majestic12HtmlParser" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net48" />
  <package id="MyLibery.dll" version="1.1.1.18" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.28" targetFramework="net48" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
</packages>